<div class="card">
  <div class="card-body">
    <h5 class="card-title">Order Summary</h5>
    <p class="card-text">You have {{ carts.totalItemsCount }} items in the Shopping Cart</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let cart of carts.items" class="list-group-item">
        {{ cart.quantity }} x {{ cart.title }}
        <div class="float-right">
          {{ cart.subTotalOfItem | currency:'INR':'symbol'}}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total Price
        <div class="float-right">
          {{ carts.grandTotal | currency:'INR':'symbol' }}
        </div>
      </li>
    </ul>
  </div>
</div>